name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-module:
    name: Test module
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@cd46bde16ab981b0a7b2dce0574509104543276e # v9

      - name: Run test script
        run: |
          set -eux

          nix develop ./test#overmind --command 'run-ci'
          nix develop ./test#overmind-dft --command 'run-ci'
          nix develop ./test#honcho --command 'run-ci'
